  .footer {
    margin-top: auto;
    background-color: #c2d7ec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .text, .link {
    color: #000;
    font-family: 'Teachers', sans-serif;
    font-weight: 600;
    transition: color 0.3s;
    text-decoration: none;
  }

  .link:hover {
    color: #5a7259;
  }
  
  .text {
    margin-top: 20px;
  }

  @media (max-width: 768px) {

    .text, .link {
      font-size: 14px;
      width: auto;
      text-align: center;
    }
  }
