@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Teachers&display=swap');

body {
  font-family: 'Teachers', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  background: white;
}

.navbar, .footer {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 1em;
}